@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #087CA7;
border-radius: 16px

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #087CA7;
}
