@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Signika+Negative:wght@300..700&display=swap');


/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #087CA7;
border-radius: 16px

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #087CA7;
}
